<div id="wrapper">
  <div id="sidebar">
    <div class="imgcontainer">
      <img src="images/sj.png">
    </div>
    <ul class="nav">
      <li>Design</li>
      <li>Photography</li>
      <li>Projects</li>
      <li>About</li>
    </ul>
  </div>
  <div id="main">
    <div id="header"></div>
    <div id="content">
      <h1>Articles</h1>
      <div class="infoblock">
        <div class="infopic left">
          <img src="images/sj5.png">
        </div>
        <div class="infobox">
          <h2>Troll Poll</h2>
          <p>This is a placeholder project description that aptly and marketably describes the associated project to a potential employer. S/he will be so amazed by this description that s/he will be inclined to click and read all the details.</p>
        </div>
      </div>
      <div class="infoblock">
        <div class="infobox">
          <h2>Snake</h2>
          <p>This is a placeholder project description that aptly and marketably describes the associated project to a potential employer. S/he will be so amazed by this description that s/he will be inclined to click and read all the details.</p>
        </div>
        <div class="infopic right">
          <img src="images/sj5.png">
        </div>
      </div>
      <div class="infoblock">
        <div class="infopic left">
          <img src="images/sj5.png">
        </div>
        <div class="infobox">
          <h2>Space Invaders</h2>
          <p>This is a placeholder project description that aptly and marketably describes the associated project to a potential employer. S/he will be so amazed by this description that s/he will be inclined to click and read all the details.</p>
        </div>
      </div>
      <p class="copyright">
        <span>&#169; 2013 Soon Jae Kwon</span>
      </p>
    </div>
    <div id="footer"></div>
  </div>
  <div id="social">
    <div class="icocontainer">
      <ul class="icons">
        <li>G</li>
        <li>A</li>
        <li>T</li>
        <li>O</li>
      </ul>
    </div>
  </div>
</div>