<div id="wrapper">
  <div id="sidebar"></div>
  <div id="main">
    <div id="header"></div>
    <div id="content"></div>
    <div id="footer">
      <p class="copyright">
        <span>&#169; 2013 Soon Jae Kwon</span>
      </p>
    </div>
  </div>
  <div id="social"></div>
</div>