/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html,body {
	font-family: 'Open Sans', 'Helvetica Neue','Helvetica','Arial', sans-serif;
	background: white;
	margin: 0;
	padding: 0;
	height: 100%;
	overflow-x: hidden;
}

a {
  text-decoration: none;
}

p a {
  color: #57ad68;
}

h2 a {
  color: #57ad68;
}

#wrapper  {
  height: 100%;
  min-width: 800px;
  position: relative;
}

#sidebar {
  display: inline-block;
  position: fixed;
  height: 100%;
  width: 15%;
  box-sizing: border-box;
  padding-top: 5%;
  min-width: 120px;
}

#main {
  display: inline-block;
  height: 100%;
  width: 70%;
  margin-left: 15%;
  box-sizing: border-box;
  overflow: scroll;
}

#social {
  display: inline-block;
  position: fixed;
  height: 100%;
  width: 15%;
  box-sizing: border-box;
  padding-top: 5%;
  min-width: 120px;
}

#social li a {
  color: #333332;
}

.imgcontainer {
  width: 100%;
  height: 48px;
  background: #57ad68;
  text-align: center;
  position: relative;
}

.imgcontainer img {
  width: 64px;
  height: 48px;
  vertical-align: middle;
}

.nav {
  width: 85%;
  padding: 0;
  list-style: none;
  text-align: right;
}

.nav li {
  padding: 5% 0 5% 0;
  transition: color 0.3s ease;
}

.nav li:after {
  content: '';
  display: block;
  border-bottom: 1px solid #57ad68;
  width: 0;
  transition: 0.3s ease;
}

.nav li:hover:after {
  width: 100%;
}

.nav li:hover {
  color: #57ad68;
}

.icocontainer {
  width: 30%;
  padding: 5% 3% 5% 3%;
  border: 1px solid #e2e2e2;
  border-right: 0px;
  float: right;
}

.icons {
  text-align: center;
  list-style: none;
  padding: 0;
}

.icons li {
  margin: 5% 0 5% 0;
  font-size: 2em;
  color: #333332;
}

i {
  transition: color 0.3s ease;
}

i:hover {
  color: #57ad68;
}

#content {
  width: 90%;
  margin: auto;
  padding-top: 5%;
}

#content h1 {
  font-size: 2.2em;
  color: #333332;
  font-weight: 400;
}

.copyright {
  font-size: 0.8em;
  text-align: center;
  margin-top: 7.5%;
  padding-bottom: 3%;
}

.copyright span:hover {
  color: #57ad68;
}

.infoblock {
  position: relative;
  width: 100%;
  border-top: 1px solid #e1e1e1;
}

.infobox {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  width: 60%;
  font-weight: 100;
}

.infopic {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  width: 35%;
}

.left {
  padding: 3% 5% 3% 0;
}

.right {
  padding: 3% 0 3% 5%;
}

.infopic img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.nofill {
  border: 1px solid #57ad68;
}

h2 {
  color: #57ad68;
  font-weight: 400;
}

#header {
  border-bottom: 2px solid #57ad68;
}

.highlight {
  color: #479156;
}

.astrip {
  background: #57ad68;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid white;
  margin: auto;
}

.background {
  background: #57ad68;
  overflow: hidden;
}

.binfo {
  padding: 3% 0 3% 0;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  width: 33.33%;
  float: left;
}

.binfo i {
  color: white;
  font-size: 2.5em;
}

.binfotxt {
  color: white;
  font-size: 0.8em;
  padding: 0 10% 0 10%;
}

.tag {
  font-size: 0.6em;
  padding: 1% 2% 1% 2%;
  border-radius: 10px;
  color: white;
}

.js {
  background: #0082c6;
}

.jquery {
  background: #1169ae;
}

.ruby {
  background: #b40f00;
}

.backbone {
  background: #3d31d7;
}

.python {
  background: #57ad68;
}

.matlab {
  background: #f2a669;
}

.html5 {
  background: #f1652a;
}

.css3 {
  background: #3b9adc;
}

.arduino {
  background: #00979c;
}

.bootstrap {
  background: #5c4383;
}

/*#headpic {
  height: 40%;
  background: url('/images/bokeh.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}*/