/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html,body {
	font-family: 'Open Sans', 'Helvetica Neue','Helvetica','Arial', sans-serif;
	background: white;
	margin: 0;
	padding: 0;
	height: 100%;
	overflow-x: hidden;
  color: #333332;
}

#wrapper  {
  height: 100%;
  min-width: 800px;
  position: relative;
}

#sidebar {
  display: inline-block;
  position: fixed;
  height: 100%;
  width: 15%;
  box-sizing: border-box;
  padding-top: 5%;
  min-width: 120px;
}

#main {
  display: inline-block;
  height: 100%;
  width: 70%;
  margin-left: 15%;
  box-sizing: border-box;}

#social {
  display: inline-block;
  position: fixed;
  height: 100%;
  width: 15%;
  box-sizing: border-box;
  padding-top: 5%;
  min-width: 120px;
}

.imgcontainer {
  width: 100%;
  height: 48px;
  background: #57ad68;
  text-align: center;
  position: relative;
}

.imgcontainer img {
  width: 64px;
  height: 48px;
  vertical-align: middle;
}

.nav {
  width: 85%;
  padding: 0;
  list-style: none;
  text-align: right;
}

.nav li {
  padding: 5% 0 5% 0;
}

.icocontainer {
  width: 30%;
  padding: 5% 3% 5% 3%;
  border: 1px solid #e2e2e2;
  border-right: 0px;
  float: right;
}

.icons {
  text-align: center;
  list-style: none;
  padding: 0;
}

.icons li {
  margin: 5% 0 5% 0;
  font-size: 2em;
  color: #333332;
}

#content {
  width: 90%;
  margin: auto;
  padding-top: 5%;
}

#content h1 {
  font-size: 2.2em;
  color: #333332;
/*  font-weight: 400;*/
}

.copyright {
  font-size: 0.8em;
  text-align: center;
  margin-top: 7.5%;
  padding-bottom: 3%;
}

.copyright span:hover {
  color: #57ad68;
}

.infoblock {
  position: relative;
  width: 100%;
  border-top: 1px solid #e1e1e1;
}

.infobox {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  width: 60%;
}

.infopic {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  width: 35%;
}

.left {
  padding: 3% 5% 3% 0;
}

.right {
  padding: 3% 0 3% 5%;
}

.infopic img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

h2 {
  color: #57ad68;
  font-weight: 400;
}

#header {
  border-bottom: 2px solid #57ad68;
}