<h1 class="about">Soon Jae Kwon</h1>
<div class="infoblock">
  <div class="infopic left">
    <img src="images/sjfv.jpg">
  </div>
  <div class="infobox">
    <h2>Software Engineer</h2>
    <p>I'm a <span class="highlight">Ruby on Rails</span> and <span class="highlight">Javascript</span> developer in the Bay Area. I love clean and simple design, and I enjoy learning new problem-solving approaches.</p>
  </div>
  <div class="astrip">
    <div class="triangle"></div>
  </div>
  <div class="background">
    <div class="binfo">
      <div>
        <!-- <i class="icon-ios7-compose"></i> -->
        <i class="ion-android-book"></i>
      </div>
      <div class="binfotxt">
        <p>I graduated from the University of Pennsylvania.</p>
      </div>
    </div>
    <div class="binfo">
      <div>
        <i class="ion-bug"></i>
      </div>
      <div class="binfotxt">
        <p>I squash bugs. Well... most of the time.</p>
      </div>
    </div>
    <div class="binfo">
      <div>
        <i class="ion-android-location"></i>
      </div>
      <div class="binfotxt">
        <p>I'm in San Francisco, and always happy to talk over a drink.</p>
      </div>
    </div>
  </div>
</div>
<h1 class="project">Projects</h1>
<div class="infoblock">
  
  <div class="infobox">
    <h2><a href="https://github.com/kwonsjay/TrollPoll" target="_blank">Troll Poll</a></h2>
    <span class="tag ruby">Ruby on Rails</span>
    <span class="tag js">Javascript</span>
    <span class="tag jquery">jQuery</span>
    <span class="tag backbone">Backbone.js</span>
    <span class="tag html5">HTML5</span>
    <span class="tag css3">CSS3</span>
    <p>An interactive, real-time Single-Page Application (SPA) that emulates the live audience polling feature of Poll Everywhere.</p>
    <p>Incorporated Twilio and Pusher APIs.</p>
  </div>
  <div class="infopic right">
    <img class="nofill" src="images/tp.png">
  </div>
</div>

<div class="infoblock">
  <div class="infopic left">
    <img class="nofill" src="images/bow.png">
  </div>
  <div class="infobox">
    <h2><a href="https://bowalumni.herokuapp.com" target="_blank">BOW Alumni</a></h2>
    <span class="tag ruby">Ruby on Rails</span>
    <span class="tag js">Javascript</span>
    <span class="tag jquery">jQuery</span>
    <span class="tag backbone">Backbone.js</span>
    <span class="tag bootstrap">Bootstrap</span>
    <p>A simple web app for members of Duke's BOW Alumni to keep in touch.</p>
  </div>
</div>

<div class="infoblock">
  <div class="infobox">
    <h2><a href="https://github.com/kwonsjay/AnniversaryFireworks" target="_blank">Anniversary Fireworks</a></h2>
    <span class="tag js">Javascript</span>
    <span class="tag jquery">jQuery</span>
    <span class="tag html5">HTML5</span>
    <span class="tag css3">CSS3</span>
    <p>A fun click-to-launch-fireworks webpage for personal letters.</p>
  </div>
  <div class="infopic right">
    <img class="nofill" src="images/anniv.png">
  </div>
</div>

<div class="infoblock">
  <div class="infopic left">
    <img class="nofill" src="images/snake.png">
  </div>
  <div class="infobox">
    <h2><a href="https://github.com/kwonsjay/SnakesAndApples" target="_blank">Snake</a></h2>
    <span class="tag js">Javascript</span>
    <span class="tag jquery">jQuery</span>
    <span class="tag html5">HTML5</span>
    <span class="tag css3">CSS3</span>
    <p>Javascript implementation of the popular Snake game.</p>
  </div>
</div>

<div class="infoblock">
  <div class="infobox">
    <h2><a href="https://github.com/kwonsjay/CanvasAsteroids" target="_blank">Asteroids</a></h2>
    <span class="tag js">Javascript</span>
    <span class="tag jquery">jQuery</span>
    <span class="tag html5">HTML5</span>
    <span class="tag css3">CSS3</span>
    <p>Javascript implementation of the popular Asteroids game.</p>
  </div>
  <div class="infopic right">
    <img class="nofill" src="images/ast.png">
  </div>
</div>

<div class="infoblock">
  <div class="infopic left">
    <img src="images/ruby.png">
  </div>
  <div class="infobox">
    <h2><a href="https://github.com/kwonsjay/BasicActiveRecord" target="_blank">Basic Active Record</a></h2>
    <span class="tag ruby">Ruby on Rails</span>
    <p>Rebuilt core functionality of the ActiveRecord Base model, including both basic and more complex associations available in RoR.</p>
  </div>
</div>

<div class="infoblock">
  <div class="infobox">
    <h2><a href="https://github.com/kwonsjay/BasicRails" target="_blank">Basic Rails</a></h2>
    <span class="tag ruby">Ruby on Rails</span>
    <p>Rebuilt core functionality of a Rails controller, including sessions and cookies.</p>
  </div>
  <div class="infopic right">
    <img src="images/rails.png">
  </div>
</div>

<div class="infoblock">
  <div class="infopic left">
    <img src="images/dna.png">
  </div>
  <div class="infobox">
    <h2>Genomic Sequence Mapping</h2>
    <span class="tag python">Python</span>
    <p>Scripted a Biopython toolset to locate all instances and close variants of user-specified 7-mer DNA sequence in the human genome.</p>
  </div>
</div>

<div class="infoblock">
  <div class="infobox">
    <h2>Automatic Medication Dispenser</h2>
    <span class="tag arduino">Arduino</span>
    <p>Designed and programmed Arduino-based device to dispense pills using a gravity-dependent, rotating-disk dispense system</p>
  </div>
  <div class="infopic right">
    <img src="images/disks.png">
  </div>
</div>

<div class="infoblock">
  <div class="infopic left">
    <img src="images/brain.png">
  </div>
  <div class="infobox">
    <h2>DBS Electrode Locator</h2>
    <span class="tag matlab">Matlab</span>
    <p>Scripted a Matlab algorithm to indicate correct placement of surgical electrode in the patient's subthalamic nucleus during Deep Brain Stimulation (DBS) surgery. Based on thresholds set by analysis of multiple patient datasets.</p>
  </div>
</div>

<h1 class="contact">Contact</h1>
<div class="infoblock">
  <div class="infobox">
    <h2>I Don't Bite</h2>
    <p>There are some social media links on the sidebar to the right, but <a href="mailto:kwonsjay@gmail.com" target="_top">Email</a> is still the most reliable way to reach me.</p>
    <p>Hope to hear from you! In the meantime, here's my <a href="/images/resume.pdf">resume</a>.</p>
  </div>
  <div class="infopic right">
    <img src="images/signc.png">
  </div>
</div>