<h1 class="about">Soon Jae Kwon</h1>
<div class="infoblock">
  <div class="infopic left">
    <img src="images/sjfv.jpg">
  </div>
  <div class="infobox">
    <h2>Software Engineer</h2>
    <p>I'm a <span class="highlight">Ruby on Rails</span> and <span class="highlight">Javascript</span> developer in the Bay Area. I love clean and simple design, and I enjoy learning new problem-solving approaches.</p>
  </div>
  <div class="astrip">
    <div class="triangle"></div>
  </div>
  <div class="background">
    <div class="binfo">
      <div>
        <i class="icon-ios7-compose"></i>
      </div>
      <div class="binfotxt">
        <p>I graduated from the University of Pennsylvania.</p>
      </div>
    </div>
    <div class="binfo">
      <div>
        <i class="icon-earth"></i>
      </div>
      <div class="binfotxt">
        <p>I travelled the world on my Nimbus 2000.</p>
      </div>
    </div>
    <div class="binfo">
      <div>
        <i class="icon-location"></i>
      </div>
      <div class="binfotxt">
        <p>I'm in San Francisco, and always happy to talk over a drink.</p>
      </div>
    </div>
  </div>
</div>
<h1 class="project">Projects</h1>
<div class="infoblock">
  
  <div class="infobox">
    <h2><a href="https://github.com/kwonsjay/TrollPoll" target="_blank">Troll Poll</a></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
  <div class="infopic right">
    <img class="nofill" src="images/tp.png">
  </div>
</div>
<div class="infoblock">
  <div class="infopic left">
    <img class="nofill" src="images/snake.png">
  </div>
  <div class="infobox">
    <h2><a href="https://github.com/kwonsjay/SnakesAndApples" target="_blank">Snake</a></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</div>
<div class="infoblock">
  <div class="infobox">
    <h2><a href="https://github.com/kwonsjay/CanvasAsteroids" target="_blank">Asteroids</a></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
  <div class="infopic right">
    <img class="nofill" src="images/ast.png">
  </div>
</div>
<div class="infoblock">
  <div class="infopic left">
    <img src="images/ruby.png">
  </div>
  <div class="infobox">
    <h2><a href="https://github.com/kwonsjay/BasicActiveRecord" target="_blank">Basic Active Record</a></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</div>
<div class="infoblock">
  <div class="infobox">
    <h2><a href="https://github.com/kwonsjay/BasicRails" target="_blank">Basic Rails</a></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
  <div class="infopic right">
    <img src="images/rails.png">
  </div>
</div>
<div class="infoblock">
  <div class="infopic left">
    <img src="images/dna.png">
  </div>
  <div class="infobox">
    <h2>DNA Parser</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</div>
<h1 class="contact">Contact</h1>
<div class="infoblock">
  <div class="infobox">
    <h2>I don't bite</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
  <div class="infopic right">
    <img src="images/signc.png">
  </div>
</div>