<div class="imgcontainer">
  <img src="images/sj.png">
</div>
<ul class="nav">
  <li class="about">About</li>
  <li class="projects">Projects</li>
  <li class="contact">Contact</li>
  <li class="cv">Resume</li>
</ul>