<div class="icocontainer">
  <ul class="icons">
    <li><a href="https://github.com/kwonsjay" target='_blank'><i class="ion-social-github"></i></a></li>
    <li><a href="http://www.linkedin.com/in/soonjae" target='_blank'><i class="ion-social-linkedin"></i></a></li>
    <li><a href="https://www.facebook.com/kwonso" target='_blank'><i class="ion-social-facebook"></i></a></li>
    <li><a href="https://twitter.com/serotinousj" target='_blank'><i class="ion-social-twitter"></i></a></li>
  </ul>
</div>