<div class="icocontainer">
  <ul class="icons">
    <li><i class="icon-social-github"></i></li>
    <li><i class="icon-social-linkedin"></i></li>
    <li><i class="icon-social-facebook"></i></li>
    <li><i class="icon-social-twitter"></i></li>
  </ul>
</div>